@page
@model AddPlanModel
@{
    ViewData["Title"] = "Add Plan Page";
    Layout = "_AdminTaskLayout";
}

<link rel="stylesheet" href="~/css/addUser.css">

<div class="add_user_form">
    <h2>Add Plan</h2>
	<div class="container">
		<form method="post">
			<div class="title">
				<h2>Plan Information</h2>
			</div> 
			<div class="infoBox">
				<div class="info">
					<label class="form-label" for="name">Name</label> 
					<input type="text" class="form-control" name="name"> 
				</div>
				<div class="info">
					<label class="form-label" for="date">Date (DD-MM)</label>
					<input type="text" class="form-control" name="date">
				</div>
				<div class="info">
					<label class="form-label" for="time">Time</label>
					<input type="text" class="form-control" name="time">
				</div>
				<div class="info">
					<label class="form-label" for="type">Type</label>
					<input type="text" class="form-control" name="type">
				</div>
				@* <div class="info">
					<label class="form-label" for="admin">Admin</label>
					<select name="admin" class="adminSelect">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</div> *@
				<div class="btnBox">
					<button class="btn" type="submit" name="adminTask" value="addNewPlan">Add Plan</button>
				</div>
			</div>
		</form>
	</div>
</div>