@page
@model FormsTemplatesModel
@{
    ViewData["Title"] = "Weekly Menu Page";
    Layout = "_HomeSubLayout";
}

<link rel="stylesheet" href="~/css/weeklyMenu.css">

<div class="main_content">
    <img src="~/files/yemek_listesi.jpg">
</div>